@import "tailwindcss";

@theme {
  --color-primary: #ecb613;
  --color-background-light: #f8f8f6;
  --color-background-dark: #221d10;
  --color-charcoal: #1b180d;
  --color-gold: #9a864c;
  
  --font-display: "Plus Jakarta Sans", "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-background-light text-charcoal font-display;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');
